[submodule "RHEL6-STIG"]
	path = RHEL6-STIG
	url = https://github.com/MindPointGroup/RHEL6-STIG
[submodule "RHEL7-STIG"]
	path = RHEL7-STIG
	url = https://github.com/MindPointGroup/RHEL7-STIG.git
[submodule "cis-ubuntu-14-ansible"]
	path = cis-ubuntu-14-ansible
	url = https://github.com/oguya/cis-ubuntu-14-ansible.git
